.point{
    max-width: 1088px;
    margin: 0 auto;
    font-family: $font-family;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    .list{
        ul{
            max-width: 507px;
            display: flex;
            flex-wrap: wrap;
            margin-top: -14px;
            margin-bottom: -14px;
            li{
                max-width: 230px;
                height: 280px;
                margin-top: 14px;
                margin-bottom: 14px;
                img{
                    width: 52px;
                    height: 52px;
                    margin: 49px 127px 0px 51px ;
                }
                h3{
                    padding-left: 32px;
                    font-size: $font-18;
                    font-weight: bold;
                    padding-top: 41px;
                    padding-bottom: 16px;
                }
                h4{
                    padding-left: 32px;
                    font-size: $font-16;
                    line-height: 24px;
                    padding-bottom: 48px;
                }
            }
        }
    }
    .title{
        margin-right: 49px;
        h1{
            font-size: $font-32;
            font-weight: bold;
            line-height: 46px;
            margin-bottom: 16px;
        }
        h2{
            font-size: $font-18;
            line-height: 26px;
            padding-bottom: 24px;
        }
        .btn{
            display: flex;
            width: 136px;
            a{
            background-color: $color-blue;
            font-size: $font-16;
            padding: 12px 32px;
            color: $color-white;
            text-decoration: none;
            border-radius: 27px;
            }
        }
        
    }
}

@media (max-width:376px){
    .point{
        max-width: 335px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .title{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-right: 0px;
            h1{
                text-align: center;
                font-size: $font-28;
            }
            h2{
                text-align: center;
                font-size: $font-16;
            }
            .btn{
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        .list{
            ul{
                margin-top: 0px;
                display: flex;
                justify-content: center;
                li{
                    margin-top: 12px;
                }
    
            }
        }
    }
    
}