.service{
    max-width: 1188px;
    font-family: $font-family;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    h1{
        font-size: $font-32;
        font-weight: bold;
        margin-bottom: 16px;

    }
    h3{
        font-size: $font-20;
        margin-bottom: 48px;
    }
    ul{
        display: flex;
        padding-right: -8px;
        padding-left: -8px;
        flex-wrap: wrap;
        
        
        li{
            max-width: 260px;
            height: 388px;
            padding-right: 8px;
            padding-left: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            
            img{
                width: 260px;
                border-radius: 12px 12px 0px 0px;
            }
            h2{
                font-size: $font-16;
                color: $color-blue;
            }
            p{
                text-align: center;
                padding-bottom: 24px;
                font-size: 16px;
                color: $color-black;
                line-height: 24px;
            }
        }
    }
}

@media (max-width:376px){
    .service{
        max-width: 335px;
        margin-top: 36px;
        h1{
            font-size: 28px;
        }
        h3{
            font-size: 18px;
            margin-bottom: 32px;
        }
        ul{
            li{
                margin-bottom: 16px;
            }
        }
    }
}