//字型

$font-family: 'Noto Sans TC', sans-serif;

// 文字大小
$font-48:48px;
$font-32:32px;
$font-28:28px;
$font-24:24px;
$font-20:20px;
$font-18:18px;
$font-16:16px;

// 顏色

$color-red:#FF5D50;
$color-blue:#56C4C5;
$color-black:#221E1F;
$color-yellow:#F5CA52;
$color-white:#FFFFFF;
$color-gray:#747474;

// 大小
$width:1088px;

